

body {
  font-family: var(--font-family-primary);
  color: var(--color-primary);
  background-color: var(--color-gray-1);
}

a {
  color: var(--color-secondary);
}

a:hover {
  color: var(--color-secondary-dark);
}

/* TYPOGRAPHY
     ================================================================= */
h2 {
  font-family: var(--font-family-primary);
}
    
h4 {
  font-family: var(--font-family-primary);
}

h3 {
  font-family: var(--font-family-primary);
}

/* Section heading-5 'CRAFT' */
h5{
  font: var(--typography-overline);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-secondary);
}

hr{
  color: var(--color-gray-4);
  opacity: 70%;
}

.header .logo span{ /* Fix needed */
  font-family: var(--font-family-secondary);
  font-size: 24px;
  font-weight: 500;
  color: var(--color-primary);
}

/*--------------------------------------------------------------
# Hero Home page
--------------------------------------------------------------*/

.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: none;
  background: linear-gradient(100deg, #F5F1EA 0%, #f8f9fc 100%);
}

.hero h1 {
  font: var(--typography-headline);
  color: var(--color-primary-light);
  letter-spacing: 1px;
  /* background: -webkit-linear-gradient(290deg, var(--color-secondary) 0%, #11181c 50%, #11181c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.hero h2{
  font: var(--typography-subhead);
  color: var(--color-gray-8);
  margin-block-start: var(--space-small);
}

.logo img{
  height: 20px;
}

.navbar a {
  padding: 12px 0 12px 32px;
  font: var(--typography-bodyReg);
  color: var(--color-primary);
}

.navbar a:focus{
  padding: 12px 0 12px 32px;
  font: var(--typography-bodyReg);
  color: var(--color-secondary);
}

.navbar a i, .navbar a:focus i{
  font: var(--typography-bodyReg);
}

.navbar-mobile ul{
  display: block;
  position: absolute;
  top: var(--space-xlarge);
  right: var(--space-xlarge);
  bottom: var(--space-xlarge);
  left: var(--space-xlarge);
  padding: 16px 0;
  border-radius: 16px;
  background-color: var(--color-gray-1);
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 56px;
  right: 56px;
  color: var(--color-gray-8);
}

.navbar-mobile{
  background-color: #030404ed;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover>a{
  color: var(--color-secondary);
}

.mobile-nav-toggle{
  color: var(--color-primary);
}

/* EXPERIMENT WITH GRADIENT
.hero .hero-img{
background: conic-gradient( from 180deg at 50% 50%, #0aefff -69.37deg, #0f83ff 31.88deg, #b056e7 120deg, #ff9966 204.37deg, #0aefff 290.63deg, #0f83ff 391.87deg );
  filter: blur(160px);
}*/


/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .hero .hero-img img {
    width: 80%;
  }

  .g-5, .gx-5{
    --bs-gutter-x: 1rem;
  }

  .hero{
    padding-top: 30px;
  }
  
  #portfolio .g-4, #portfolio .gy-4, #craft .g-4, #craft .gy-4{
    --bs-gutter-y: 1rem;
    --bs-gutter-x: 0.5rem;
  }

  .portfolio-info {
    padding: 12px 12px 8px 12px;
  }

  .prototype {
    display: none;
  }

  .navbar a, .navbar a i, .navbar a:focus i {
    font-size: 24px;
  }
}

@media (max-width: 1012px) {
  .hero .hero-img img {
    width: 60%;
  }
}

.not-allowed {
  cursor: not-allowed;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.header{
  padding: 16px 0;
  border-bottom: 1px solid rgba(36, 49, 68, 0);
}

.section-header{
  padding-bottom: var(--space-section);
}

.header.header-scrolled{
  padding: 16px 0;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(36, 49, 68, 0.1);
  box-shadow: none;
}

.section-header h2, .portfolio-description h1 {
  font: var(--typography-heading-1);
  color: var(--color-primary);
  text-transform: none;
}

section{ 
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Portfolio hero
--------------------------------------------------------------*/
.portfolio .portfolio-wrap{
  border-radius: var(--border-radius-large);
}

.portfolio .portfolio-wrap::before{
  background: rgba(5, 1, 37, 0.0);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.portfolio .portfolio-wrap::after{
  background: rgba(5, 1, 37, 0.1);
  opacity: 0;
}



/*--------------------------------------------------------------
# Background project covers 
--------------------------------------------------------------*/

#project1 {
  background: linear-gradient(45deg, #CCDFF6 0%, #6B98FF 100%);
}

#project2{
  background: linear-gradient(45deg, #536976 0%, #292E49 100%);
}

#project3 {
  background: linear-gradient(75deg, #ffc96f 0%, #f2a868 100%);
}

#project4{
  background: linear-gradient(45deg, #7BD5F2 0%, #0085E5 100%);
}

#project5 {
  background: linear-gradient(45deg, #7B91FF 0%, #1589C0 100%);
}

#project6{
  background: linear-gradient(45deg, #BFCEE8 0%, #788CA9 100%);
}

.portfolio .portfolio-wrap:hover img {
  transform: translateY(20px);
}

.portfolio .craft:hover img {
  transform: scale(1.05);
}

/*--------------------------------------------------------------
# Portfolio 
--------------------------------------------------------------*/

.portfolio{
  margin-top: var(--space-xxlarge);
  margin-bottom: var(--space-xxxlarge);
}


/*--------------------------------------------------------------
# Portfolio title
--------------------------------------------------------------*/

.portfolio-title{
padding: 20px 0 0 0;
opacity: 0;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
text-align: center;
z-index: 3;
transition:  0.3s;
display: flex;
flex-direction: column;
align-items: center;
}

.portfolio .portfolio-wrap:hover .portfolio-title {
  opacity: 1;
}

.portfolio-title h4{
  color: white;
  font: var(--typography-heading-3);
}

/*--------------------------------------------------------------
# Portfolio hero
--------------------------------------------------------------*/
.portfolio-header {
  margin: 0;
}

.portfolio-header img{
  width: 100%;
  border-radius: 16px;
  margin: 100px 0 0 0;
}

/*--------------------------------------------------------------
# Portfolio hero
--------------------------------------------------------------*/

.portfolio-hero{
  margin-bottom: 90px;
}

.portfolio-hero h2, .portfolio-description h2 {
  font: var(--typography-heading-2);
  margin-bottom: var(--space-xsmall);
}

.portfolio-hero p, .portfolio-description p{
  font: var(--typography-bodyReg);
  margin-bottom: var(--space-medium);
}

.portfolio-hero img{
  width: 100%;
  border-radius: var(--border-radius-medium);
  margin: 8px 0 8px 0;
}

.portfolio-hero .row{
  padding-right: 0;
  padding-left: 0;
}

.portfolio-hero {
  padding-bottom: 40px;
}

.sub-section {
  margin-bottom: var(--space-section);
}

.sub-section ul {
  list-style-image: url('assets/icon/arrow-right.svg');
}

.sub-section ul li {
  margin-bottom: 12px;
  padding-left: 8px;
  font: var(--typography-bodyReg);
}

.about .content{
  border-radius: var(--border-radius-large);
  background-color: var(--color-gray-2);
}

.portfolio-project-nav {
  border-radius: 16px;
  background-color: #f8fafd;

}

.portfolio-project-nav:hover {
  background-color: var(--color-information);
}

.about{
  margin-top: 100px;
}

.about h2{
  font: var(--typography-heading-2);
  color: var(--color-primary);
  margin-bottom: var(--space-medium);
}

.about p{
  font: var(--typography-bodyReg);
  color: var(--color-gray-8);
  margin: 0 0 var(--space-large) 0;
}

.about img{
  border-radius: var(--border-radius-xlarge);
}

/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/

.btn-custom {
  line-height: 0;
  padding: 16px 24px;
  border-radius: var(--border-radius-medium);
  transition: 0.5s;
  color: white;
  background: var(--color-secondary);
  box-shadow: 0 5px 25px rgba(65, 84, 241, 0.3);
}

.btn-custom span {
  font: var(--typography-button);
}

.btn-custom i, .btn-custom2 i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.btn-custom:hover i, .btn-custom2:hover i {
  transform: translateX(5px);
}

.btn-custom:hover {
  color: white;
}

.btn-custom2 {
  font: var(--typography-button);
  padding: 16px 24px;
  transition: 0.5s;
  color: var(--color-secondary);
  background-color: transparent;
}

/*--------------------------------------------------------------
# Experience / Contact
--------------------------------------------------------------*/

.experience{
  margin-top: 80px;
}

.toolbox{
  margin-top: 80px;
}

/*--------------------------------------------------------------
# Info Box
--------------------------------------------------------------*/
.info-box {
  text-align: center;
  height: 100%;
  overflow: hidden;
  padding: 28px;
  background-color: var(--color-gray-2);
  border-radius: var(--border-radius-large);
}

.toolbox .info-box {
  background-color: var(--color-gray-2);
}

.toolbox .info-box h3 {
  color: var(--color-primary);
  font: var(--typography-heading-3);
  margin: 0 0 8px 0;
}

.info-box h4 {
  font: var(--typography-subtitle);
}

.toolbox .info-box p {
  font: var(--typography-bodyReg);
  color: var(--color-gray-8);
}

.info-box h3, .info-box p {
  text-align: left;
  margin-bottom: 8px;
}

.info-box img {
  height: 90px;
  margin: 0 0 16px 0;
}

.info-box strong {
  font-size: 54px; /* Custom */
  font-weight: 800;
}

.img-box {
  height: 100%;
  /* background-color: var(--color-information); */
  background-image:url(assets/img/window.png);
  background-size: cover;
  padding: 0;
}

/*--------------------------------------------------------------
# Project nav
--------------------------------------------------------------*/

.project-nav{
  margin-top: 80px;
}

.project-nav .prev-next{
  padding: 20px;
  background-color: var(--color-nav-default);
}

.project-nav .prev-next:hover {
  background-color: var(--color-nav-hover);
}

.project-nav .prev-next span {
  display: inline-flex;
  align-items: center;
}

.project-nav i {
  float: right;
}

.direction {
  display: inline-flex;
  font: var(--typography-bodyReg);
}

.prev-next {
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.prev-next i {
  size: 24px;
}

.title {
  font: var(--typography-heading-2);
}

.left, .right{
  text-align: left;
  color: var(--color-primary);
  border-radius: var(--border-radius-large);
}

/*--------------------------------------------------------------
# Portfolio info
--------------------------------------------------------------*/

.portfolio-info {
  margin-bottom: 30px;
}

.portfolio-info strong{
  font: var(--typography-bodyBold);
  color: var(--color-primary);
}

.portfolio-info p {
  font: var(--typography-bodyReg);
  margin: 0;
}

.portfolio-info .row {
  margin: 8px 0;
}

/*--------------------------------------------------------------
# Portfolio description
--------------------------------------------------------------*/

.portfolio-description{
  margin-top: 0;
  margin-bottom: var(--space-section);
  padding-top: 0;
  overflow: visible;
}

.portfolio-description img {
  width: 100%;
  border-radius: var(--border-radius-large);
} 

.portfolio-description h1{
  text-align: center;
  margin: var(--space-section) 0;
}

.portfolio-description h3{
  font: var(--typography-subhead);
  color: var(--color-gray-8);
}

.portfolio-section-highlight{
  margin-top: 0;
  margin-bottom: var(--space-xxlarge);
  padding-top: var(--space-xxlarge);
  padding-bottom: var(--space-xxlarge);
  overflow: visible;
  background-color: var(--color-gray-3);
}

.portfolio-section-highlight h2{
  font: var(--typography-heading-2);
  margin-bottom: var(--space-xxlarge);
}

.portfolio-section-highlight {
  font: var(--typography-bodyReg);
}

/*--------------------------------------------------------------
# Other elements of the page
--------------------------------------------------------------*/

.back-to-top{
  border-radius: 100px;
  right: 20px;
  bottom: 20px;
  background-color: var(--color-primary);
}

.back-to-top:hover{
  background-color: var(--color-secondary);
}

.collaboration {
  margin-top: 0;
}

.collaboration .custom-footer {
  padding: 30px;
  background: linear-gradient(55deg, #F1F1F1 0%, #f8fafc 50%, #daecff 100%);
  height: auto;
  border-radius: var(--border-radius-large);
}
.collaboration h2 {
  font: var(--typography-heading-2);
  text-align: left;
}

.collaboration p {
  font: var(--typography-bodyReg);
  text-align: left;
}

.footer {
  margin-top: 0;
  padding: 0;
  height: auto;
  background: none;
}

.footer .copyright {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 40px 0;
}

.footer .copyright p {
  font: var(--typography-caption);
  margin-bottom: 0;
}


.collaboration img {
  width: 220px;
  height: auto;
}

.protected-img{
  width: 100px;
  margin-bottom: 16px;
}

#password{
  margin-top: 12px;
  margin-bottom: 12px;
  appearance: none;
  border-block-end-color: rgb(0, 0, 0);
  border-block-end-style: none;
  border-block-end-width: 0;
  border-block-start-color: rgb(0, 0, 0);
  border-block-start-style: none;
  border-block-start-width: 0;
  border-bottom-color: rgb(0, 0, 0);
  border-radius: 8px;
  border-bottom-style: none;
  border-bottom-width: 0;
  border-inline-end-color: rgb(0, 0, 0);
  border-inline-end-style: none;
  border-inline-end-width: 0;
  border-inline-start-color: rgb(0, 0, 0);
  border-inline-start-style: none;
  border-inline-start-width: 0;
  border-left-color: rgb(0, 0, 0);
  border-left-style: none; border-left-width: 0;
  border-right-color: rgb(0, 0, 0);
  border-right-style: none; border-right-width: 0;
  border-top-color: rgb(0, 0, 0);
  border-top-style: none;
  border-top-width: 0;
  box-shadow: rgba(6, 6, 23, 0.045) 10px 10px 30px 0;
  box-sizing: border-box;
  font-size: 18px;
  letter-spacing: 3.99996px;
  line-height: 40px; 
  overflow-wrap: break-word;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  text-align: left;
  text-indent: 10px;
  text-size-adjust: 100%;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  -webkit-font-smoothing: antialiased; width: 400px;
}

#password::placeholder{
  font-family: var(--font-family-primary);
  color: lightslategray;
}


/*--------------------------------------------------------------
# Callout
--------------------------------------------------------------*/

.callout {
  padding: 24px;
  background-color: var(--color-information);
  margin-bottom: var(--space-section);
  border-radius: var(--border-radius-large);
}

.callout p{
  margin: 8px 0 0 0;
}

.callout strong {
  font: var(--typography-subtitle);
}



/*--------------------------------------------------------------
# Video
--------------------------------------------------------------*/

.floating-image2 {
  margin-top: 30px;
  height: 100%;
  position: relative;
  display: flex;
  margin-bottom: -58px;
  justify-content: center;
  align-items: center;
  background-image: url(assets/img/tokens.png);
  background-size: contain;
}

#intersection {
  padding-bottom: 0;
}

.floating-image1 img {
  position: relative;
  width: 450px;
  height: auto;
  top: 20px;
}

.parent {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  width: 400px;
  top: 0;
  left: 0;
  z-index: 9;
}
.image2 {
  position: absolute;
  width: 250px;
  top: 61px;
  left: 74px;
  z-index: 2;
}

.background-hero{
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.552);
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.gradient {
  width: 100%;
  height: 70%;
  background: linear-gradient(rgb(36, 59, 85), rgb(25, 84, 123));
  opacity: 1;
  position: absolute;
  top: 15%;
  left: 0;
  border-radius: var(--border-radius-large);
  overflow: hidden;
}

.background-hero-title {
  font-family: var(--font-family-primary);
  font-size: 60px; /* Custom */
  font-weight: 800;
  color: #6ab7e43e;
  position: relative;
  top: 18px;
  left: 20px;
}
.gradient-highlight1 {
  width: 24vw;
  height: 24vw;
  opacity: .5;
  filter: blur(60px);
  background-color: #8b6fcca4;
  border-radius: 50%;
  position: absolute;
  top: auto;
  bottom: 30%;
  right: auto;
  left: -3vw;
}
.gradient-highlight2 {
  width: 24vw;
  height: 24vw;
  opacity: .5;
  filter: blur(60px);
  background-color: #6fbbcca2;
  border-radius: 50%;
  position: absolute;
  top: auto;
  bottom: -30%;
  left: auto;
  right: -3vw;
}
