:root {

/* Core units================================================================= */
    --base-unit:        0.25rem;
    --base-half-unit:   calc(var(--base-unit) / 2);

/* Color ================================================================= */

    --bg-color: #ffffff;
    --bg-nav-color: rgba(255, 255, 255, 0.8);
    --text-color: #000000;
    --bg-image: 100%;
    --end-gradient-1: #111111;


    --color-primary-light:  #1B2E55;
    --color-primary:        #0C1527;
    --color-primary-dark:   #0A111F;

    --color-secondary:      #4154f1;

    --color-gray-1: #FFFFFF;
    --color-gray-2: #EEEEEE;
    --color-gray-3: #F8F9FA;
    --color-gray-4: #BBBBBB;
    --color-gray-5: #A1A1A1;
    --color-gray-6: #888888;
    --color-gray-7: #6F6F6F;
    --color-gray-8: #555555;
    --color-gray-9: #3C3C3C;
    --color-gray-10: #222222;

    --color-critical: #ffa500;
    --color-information: #ecf2f6;
    --color-danger: #ff4500;

    --gradient-collab-start: #F5F5F5;
    --gradient-collab-end: #E1EEFF;

/* Typography ================================================================= */
    /* Fonts */
    --font-family-primary: "Open Sans", sans-serif;
    --font-family-secondary:    serif;
    --font-base-unit: var(--base-unit);
    /* Font sizes - 4x4 grid */
    --font-size-12: calc(var(--font-base-unit) * 3);
    --font-size-16: calc(var(--font-base-unit) * 4);
    --font-size-20: calc(var(--font-base-unit) * 5);
    --font-size-24: calc(var(--font-base-unit) * 6);
    --font-size-40: calc(var(--font-base-unit) * 10);
    --font-size-48: calc(var(--font-base-unit) * 12);
    --font-size-64: calc(var(--font-base-unit) * 16);
    --line-height-base-unit: 1;
    /* Line heights */
    --line-height-small:   calc(var(--line-height-base-unit) * 1.1);
    --line-height-medium:  calc(var(--line-height-base-unit) * 1.3);
    --line-height-large:   calc(var(--line-height-base-unit) * 1.5);
    /* Font weights */
    --font-weight-lighter:  100;
    --font-weight-light:    200;
    --font-weight-normal:   400;
    --font-weight-bold:     700;
    --font-weight-bolder:   900;
/* Space ================================================================= */
    --space-base-unit: var(--base-unit);
    /* Margin, Padding - 8x8 grid */
    --space-8:  calc(var(--space-base-unit) * 2);
    --space-16: calc(var(--space-base-unit) * 4);
    --space-24: calc(var(--space-base-unit) * 6);
    --space-32: calc(var(--space-base-unit) * 8);
    --space-40: calc(var(--space-base-unit) * 10);
    --space-48: calc(var(--space-base-unit) * 12);
    --space-64: calc(var(--space-base-unit) * 16);
    --space-72: calc(var(--space-base-unit) * 18);

/* Breakpoints ================================================================= */
    --breakpoint-small:     544px;
    --breakpoint-medium:    768px;
    --breakpoint-large:     1012px;

/* Border ================================================================= */
    /* Border color */
    --border-color-lighter: var(--gray-2);
    --border-color-light:   var(--gray-3);
    --border-color:         var(--gray-5);
    --border-color-dark:    var(--gray-7);
    --border-color-darker:  var(--gray-9);
    
    /* Border radius */
    --border-radius-small:  calc(var(--base-unit) * 1);
    --border-radius-medium: calc(var(--base-unit) * 2);

/* Transition ================================================================= */
    --border-radius-large:  calc(var(--base-unit) * 4);
/* Transition */
    --transition-faster:    0.1s;
    --transition-fast:      0.2s;
    --transition-normal:    0.3s;
    --transition-slow:      0.4s;
    --transition-slower:    0.5s;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}


.dark {
    --bg-color: #151515;
    --bg-nav-color: #151515cc;

    --text-color: #ffffff;
    --bg-image: 0%;
    --end-gradient-1: #aeace1;

    --color-primary-light:  #ffffff;
    --color-primary:        #d4def1;
    --color-primary-dark:   #80a4ec;

    --color-secondary:      #5a6bff;

    --color-gray-1: #222222;
    --color-gray-2: #3C3C3C;
    --color-gray-3: #555555;
    --color-gray-4: #6F6F6F;
    --color-gray-5: #888888;
    --color-gray-6: #A1A1A1;
    --color-gray-7: #BBBBBB;
    --color-gray-8: #F8F9FA;
    --color-gray-9: #EEEEEE;
    --color-gray-10: #FFFFFF;

    --color-critical: #ffa500;
    --color-information: #124669;
    --color-danger: #ff4500;

    --gradient-collab-start: #b8d8ff1a;
    --gradient-collab-end: #d1c6ff1a;
  }